<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.familiep.mobileinformationgain">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="de.familiep.mobileinformationgain.InformationMeasureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name="de.familiep.mobileinformationgain.view.LaunchingActivity"/>

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="de.familiep.mobileinformationgain.view.ExportActivity"/>

        <service
            android:name="de.familiep.mobileinformationgain.CustomAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_configuration" />
        </service>

        <service android:name=".alarm.NotificationIntent"/>
        <service android:name=".alarm.DataCollectionAlarmIntent"/>
        <service android:name=".data_evaluation.ExportHelperService"/>

        <receiver android:name=".alarm.BroadcastBroker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
